# ignore everything
*

# except these whitelisted files:
!.gitignore
!.zshrc
!.config/coc/
!.config/dunst/
!.config/Cadence/
!.config/Carla/
!.config/i3/
!.config/i3status-rust/
!.config/kitty/
!.config/mako/
!.config/nvim/
!.config/ranger/
!.config/redshift/
!.config/spicetify/
!.config/spotify/
!.config/sway/
!.config/waybar/
!.config/wofi/
!.config/chrome-flags.conf
!.config/chromium-flags.conf
!.imwheelrc
!Documents/wallpapers/
!Pictures/cool_screenshots/1587724205.png
!scripts/startjack.sh
